h1 {
  font-family: serif;
  color: #ff0000;
h1 {
  color: #e6855e;
  font-size: 30px;
  /* 背景の色を#f3f372にしてください */
  background-color:#f3f372;
  
  /* 高さを80pxにしてください */
  width:80px;
  
  
  /* 幅を200pxにしてください */
  height:200px;
  
  
}

img {
  /* 高さを50pxにしてください */
  width:20px;
  
  
  /* 幅を70pxにしてください */
  height:20px;
  
  
}
.koremite {
  color: #ff0000;
  background-color: #000000;
  
  
